<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns = "http://www.springframework.org/schema/beans"
xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
>
	<bean id="prebean" class="com.springioc.mensaje">
		<property name="mensaje" value="holi pache"></property>	
	</bean>
	<bean id="bean1" class="com.springioc.helloWorld">
		<property name="msj" ref="prebean"></property>
		<property name="id" value="1"></property>
	</bean>
	
</beans>